/* universal */
body {
    background-color: #8bbdf6;
    font-family: 'Press Start 2P', cursive;
    margin: auto;
}

/* card grid */
.grid-container {
    display: grid;
    grid-template-columns: 45% 45%;
    max-width: 800px;
    column-gap: 10%;
}

.grid-item {
    background-color: #ffe6b4;
    border: 2px solid #000000;
    /* border-inline-color: #ffe6b4; */
    padding: 10px;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
}

.pokemon_img {
    width: 70%;
    height: 90%;
    padding-bottom: -50px;
}

/* card count tracker */
/* 
.card-counts {
    text-align: right;
}
*/

/* buttons */
.next-button {
    margin-top: 40px;
}