<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - FlaskApp</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <style>
    </style>
</head>
<body>
    <center>
<!--<nav>
        <a href="#">Login</a>
        <a href="#">Scoreboard</a>
        <a href="#">New Game</a>
    </nav>


        <hr>
-->

    <div class="content">
        {% block content %} {% endblock %}
    </div>
    </center>
</body>
</html>