{% extends 'base.html' %}

{% block content %}


    <h1 class="title">{% block title %} The computer will select a stat {% endblock %}</h1>

    <div>
        <p>Card counts: <br>
            {{ player_name }}: {{ player_card_no }}<br>
            Computer: {{ computer_card_no }}<br>
            Draw stack: {{ draw_card_no }}<br>
        </p>
    </div>

    <div class="grid-container">
        <div class="grid-item">
            <img class='pokemon_img' src="static/pokemon/{{ player_stats['name'] }}.png" alt="{{ player_stats['name']}}">
            <p>Pokemon: {{ player_stats['name'] }}</p>
        </div>
        <div class="grid-item">
            <img src="static/card_back.png" alt="Pokemon card back" height="150" width="75">
            <p>Pokemon: ???</p>
        </div>
        <div class="grid-item">
            <p>Height: {{ player_stats['height'] }} </p>
            <p>Weight: {{ player_stats['weight'] }}</p>
            <p>Speed: {{ player_stats['speed'] }}</p>
            <p>HP: {{ player_stats['hp'] }}</p>
            <p>Attack: {{ player_stats['attack'] }}</p>
            <p>Defense: {{ player_stats['defense'] }}</p>
        </div>
        <div class="grid-item">
            <p>Height: ???</p>
            <p>Weight: ???</p>
            <p>Speed: ???</p>
            <p>HP: ???</p>
            <p>Attack: ???</p>
            <p>Defense: ???</p>
        </div>
    </div>

    <br>

        <form method="post">
            <center><button type="submit">Next</button></center>
        </form>



{% endblock %}