{% extends 'base.html' %}

{% block content %}

<!--error message if user submits invalid stat-->
{% if get_flashed_messages() %}
    <div class="alert">{{ get_flashed_messages()[0] }}</div>
{% endif %}

<h1 class="title">{% block title %} Choose your stat {% endblock %}</h1>

<!-- 
<p>Player pokemon stats: {{ player_stats }}</p>
<p>Computer pokemon stats: {{ computer_stats }}</p>
<p>Player card deck: {{ player_card_no }}</p>
<p>Computer card deck: {{ computer_card_no }}</p>
<p>Draw card deck: {{ draw_card_no }}</p>
-->

<center>
    <center>
        <p>{{ player_name }}, you gotta catch 'em all!</p>
    </center>
    <div class="grid-container">
        <div class="grid-item">
            <p>Player 1 ({{ player_name }})</p>
            <p>Card count: {{ player_card_no }}</p>
        </div>
        <div class="grid-item">
            <p>Player 2 (computer)</p>
            <p>Card count: {{ computer_card_no }} </p>
        </div>
        <div class="grid-item">

        </div>
        <div class="grid-item">
            <p>Cards in draw stack: {{ draw_card_no }}</p>
        </div>
        <div class="grid-item">
            <!--<img src="{{ card_blank }}" alt="Pokemon Card Back" height="150px" width="75px">-->
            <p>Pokemon: {{ player_stats['name'] }}</p>
        </div>
        <div class="grid-item">
            <!--<img src="{{ card_back }}" alt="Pokemon Card Back" height="150px" width="75px">-->
            <p>Pokemon: ???</p>
        </div>
        <div class="grid-item">
            <form method="post"><button type="submit" name="selected_stat" value="height">Height: {{ player_stats['height'] }}</button></form>
            <br>
            <form method="post"><button type="submit" name="selected_stat" value="weight">Weight: {{ player_stats['weight'] }}</button></form>
            <br>
            <form method="post"><button type="submit" name="selected_stat" value="speed">Speed: {{ player_stats['speed'] }}</button></form>
            <br>
            <form method="post"><button type="submit" name="selected_stat" value="hp">HP: {{ player_stats['hp'] }}</button></form>
            <br>
            <form method="post"><button type="submit" name="selected_stat" value="attack">Attack: {{ player_stats['attack'] }}</button></form>
            <br>
            <form method="post"><button type="submit" name="selected_stat" value="defense">Defense: {{ player_stats['defense'] }}</button></form>
        </div>
        <div class="grid-item">
            <p>Height: ??? </p>
            <p>Weight: ???</p>
            <p>Speed: ???</p>
            <p>HP: ???</p>
            <p>Attack: ???</p>
            <p>Defense: ???</p>
        </div>
    </div>
</center>

{% endblock %}