{% extends 'base.html' %}

{% block content %}

    <h1 class="title">{% block title %} Select a stat {% endblock %}</h1>

    <div>
        <p>
            {{ player_name }}: {{ player_card_no }}<br>
            Computer: {{ computer_card_no }}<br>
            Draw stack: {{ draw_card_no }}<br>
        </p>
    </div>
    
    <div class="grid-container">
        
        <div class="grid-item">
            <img class='pokemon_img' src="static/pokemon/{{ player_stats['name'] }}.png" alt="Pokemon Card Back">
        </div>
        <div class="grid-item">
            <img src="static/card_back.png" alt="Pokemon Card Back" height="150" width="75">
        </div>
        <div class="grid-item">
            <p>{{ player_name }}: {{ player_stats['name'] }}</p>
        </div>
        <div class="grid-item">
            <p>Computer: ???</p>
        </div>
        <div class="grid-item">
            <form method="post"><button type="submit" name="selected_stat" value="height">Height: {{ player_stats['height'] }}</button></form>
            <br>
            <form method="post"><button type="submit" name="selected_stat" value="weight">Weight: {{ player_stats['weight'] }}</button></form>
            <br>
            <form method="post"><button type="submit" name="selected_stat" value="speed">Speed: {{ player_stats['speed'] }}</button></form>
            <br>
            <form method="post"><button type="submit" name="selected_stat" value="hp">HP: {{ player_stats['hp'] }}</button></form>
            <br>
            <form method="post"><button type="submit" name="selected_stat" value="attack">Attack: {{ player_stats['attack'] }}</button></form>
            <br>
            <form method="post"><button type="submit" name="selected_stat" value="defense">Defense: {{ player_stats['defense'] }}</button></form>
        </div>
        <div class="grid-item">
            <p>Height: ??? </p>
            <p>Weight: ???</p>
            <p>Speed: ???</p>
            <p>HP: ???</p>
            <p>Attack: ???</p>
            <p>Defense: ???</p>
        </div>
    </div>


{% endblock %}